<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Your playlists</h1>
	<p th:text="${'Welcome back ' + session.user.name + ' ' + session.user.surname}"></p>
	
	<div th:switch="${playlists.size() &gt; 0}">
		<table th:case="true">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of creation</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="playlist : ${playlists}">
					<td th:text="${playlist.title}"></td>
					<td th:text="${playlist.date}"></td>
					<td><a th:href="@{/GetPlaylistTracks(playlistid=${playlist.id})}">View tracks</a></td>
				</tr>
			</tbody>
		</table>
		<p th:case="*">No playlists available to display.</p>
	</div>
	
	<div>
		<p>Create a new playlist here</p>
		<form action="#" th:action="@{/CreatePlaylist}" method="POST">
			<fieldset>
				<p>
					Name: <input type="text" name="name" required />
					<span th:if="${playlistErrorMsg} != null" class="error"><br>${playlistErrorMsg}</span>
				</p>
				<input type="submit" name="Create playlist">
			</fieldset>
		</form>
	</div>
	
	<div>
		<p>Upload your tracks here</p>
		<form action="#" th:action="@{/UploadTrack}" method="POST">
			<fieldset>
				<p>
					Title: <input type="text" name="title" required />
					<span th:if="${trackForm.titleError} != null" class="error"><br>${trackForm.titleError}</span> 
				</p>
				<p> Genre: 
					<select name="genre" >
						<!-- TODO should probably extract from DB instead -->
					    <option value="1">Pop</option>
						<option value="2">Rock</option>
						<option value="3">EDM</option>
				    </select>
				    <span th:if="${trackForm.genreError} != null" class="error"><br>${trackForm.genreError}</span> 
				</p>
				<div>
				    <input type="radio" id="1" name="album" value="1" checked required>
					<label for="1">From existing album</label>
					<br>
					<p class="indented"> Album:
						<select name="albumid"><!--th:value="${trackForm.albumId}"-->
							<option th:each="a : ${albums}" th:value="${a.id}" th:text="${a.name}"></option>
						</select>
						<span th:if="${trackForm.albumIdError} != null" class="error"><br>${trackForm.albumIdError}</span> 
					</p>
					<input type="radio" id="2" name="album" value="2">
					<label for="2">Insert new album</label>
					<br>
				
					<p class="indented">
						Name: <input type="text" name="title" th:value="${trackForm.albumName}" />
						<span th:if="${trackForm.albumNameError} != null" class="error"><br>${trackForm.albumNameError}</span> 
					</p>
					<p class="indented">
						Artist: <input type="text" name="artist" th:value="${trackForm.albumArtist}" />
						<span th:if="${trackForm.albumArtistError} != null" class="error"><br>${trackForm.albumArtistError}</span> 
					</p>
					<p class="indented">
					  	Year: <input type="number" name="year" min="1800" max="#dates.year(#dates.createNow())" th:value="${trackForm.albumYear}" />
					  	<span th:if="${trackForm.albumYearError} != null" class="error"><br>${trackForm.albumYearError}</span> 
					</p>
					<p class="indented">
					  	Image: <input type="file" name="file" accept="image/*" th:value="${trackForm.albumImage}" />
					  	<span th:if="${trackForm.albumImageError} != null" class="error"><br>${trackForm.albumImageError}</span> 
					</p>
					<span th:if="${trackForm.albumChoiceError} != null" class="error"><br>${trackForm.albumChoiceError}</span>
				</div>
				<p>
					Audio file: <input type="file" name="file" accept="audio/*" th:value="${trackForm.audio}" required/>
					<span th:if="${trackForm.audioError} != null" class="error"><br>${trackForm.audioError}</span> 
				</p>
    			<br>
				<input type="submit" name="Upload track">
				<input type="reset">
			</fieldset>
		</form>
	</div>

</body>
</html>