<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Player</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<h1>Track player</h1>
	<div>
		<p th:text="${'Title: ' + track.title}" />
		<p th:text="${'Genre: ' + track.genre}" />
		<br>
		<p th:text="${'Album: ' + album.name}" />
		<p th:text="${'Artist: ' + album.artist}" />
		<p th:text="${'Year: ' + album.year}" />
		<img th:src="'data:image/jpg;base64,' + ${album.image}" /><br>
		
		<audio
          controls
          th:src="'data:audio/mp3;base64,' + ${track.audio}"></audio>
		
	</div>
</body>
</html>