body:not(#player) {
	background: radial-gradient(#e66465, #9198e5);
}

table:not(.container), th, tr, table:not(.container) td {
	border: 1px solid black;
}

.container {
	height: 90%;
	width: 90%;
}

.container td {
 	vertical-align: top;
	width: 30%;
}

table.container + td {
	width: 20%;
}

.indented {
	text-indent: 25px;
}

.error {
	color: red;
}

div.row {
  height: 400px;
  overflow: hidden;
}

#addform {
	width: 90%;
	margin: auto;
	text-align: center;
}

.albumimagebackground {
	top: 0;
	left: 0;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#trackinfotable {
	max-width: 50%;
 	margin: auto;
 	font-size: 25px;
}

#trackinfotable table {
	width: 30%;
}

#trackinfotable td {
	vertical-align: top;
	width: 15%;
	padding-top: 20%;
	padding-bottom: 5%;
}

#trackinfo {
	text-align: center;
}

/*audio:hover, audio:focus, audio:active {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}*/

audio {
	width: 50%;
	/*-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;*/
}

form, table:not(.container) {
	background: white;
}