body:not(#player) {
	background: linear-gradient(#9198e5,#e66465);
	background-attachment: fixed;
}

.logoutdiv {
	position: relative;
	height: 0;
}

table:not(.container){
	border: 1px solid black;
  	padding: 5px;
  	border-radius: 15px;
}

th, tr, table:not(.container) td {
	border-collapse: collapse;
}

.container {
	height: 90%;
	width: 90%;
}

.container > tbody > tr > td {
 	vertical-align: top;
	width: 30%;
}

body:not(#player) > .container td:nth-child(2) > p {
 	padding-top: 60px;
}

table.container td:nth-child(1) > form {
	width: 70%;
}

table.container td:nth-child(1) table {
	height: 300px;
	overflow: hidden;
}

#playliststable {
	width: 70%;
	max-height: 300px;
	display: block;
}

#playliststable > thead {
	width: 100%;
	display: inline-block;
	text-align: left;
}

#playliststable > tbody {
	max-height: 300px;
	display: inline-block;
	width: 100%;
	overflow: auto;
	text-align: left;
}

#playliststable thead {
	padding-left: 15px;
}

#playliststable th {
	width: 30%;
}

#playliststable td  {
	width: 28%;
	padding-left: 15px;
	padding-right: 15px;
}

.indented {
	text-indent: 25px;
}

.error {
	color: red;
}

div.row {
  height: 340px;
  overflow: hidden;
}

#addform {
	width: 90%;
	margin: auto;
	text-align: center;	
}

.albumimagebackground {
	top: 0;
	left: 0;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#trackinfotable {
	max-width: 50%;
 	margin: auto;
 	font-size: 25px; 	
}

#trackinfotable table {
	width: 30%;
}

#trackinfotable td {
	vertical-align: top;
	width: 15%;
	padding-top: 20%;
	padding-bottom: 5%;
}

#trackinfo {
	text-align: center;
}

/*audio:hover, audio:focus, audio:active {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}*/

audio {
	width: 50%;
	/*-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;*/
	border-radius:7px 7px 7px 7px ;
}

form, table:not(.container) {
	background: #FFFFE0;
  	padding-left: 5px;
  	padding-right: 5px;
  	border-radius: 7px;
}

td > img {
	object-fit: cover;
}

fieldset{
	border: 0;
}