<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" />
<script src="utils.js" charset="utf-8" defer></script>
<!-- script src="playlistMgmt.js" charset="utf-8" defer></script-->
<script src="PlaylistManagement.js" charset="utf-8" defer></script>
<!-- script src="sort.js" charset="utf-8" defer></script-->
</head>
<body>
	<div align="right">
		<a href="Logout">Logout</a>
	</div>
	<h1>Your playlists</h1>
	<p>Welcome back, <span id="id_username"></span></p>
	<div id="id_alert" class="alertmessage"></div>	

	<table>
		<tr>
			<td>
				<table id="playlistscontainer" class="boxed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date of creation</th>
							<th>Tracks</th>
							<th>Reorder</th>
						</tr>
					</thead>
					<tbody id="playlistsbody"/>
				</table>
				<p>Create a new playlist here</p>
				<form action="#" id="createplaylistform">
					<fieldset>
						<p>
							Name: <input type="text" name="playlistTitle" required />
							<span class="alertmessage" id="playlistCreationError"><br></span>
						</p>
						<input type="button" value="Create playlist">
					</fieldset>
				</form>
			</td>
			<td>
				<p>Playlist: <span id="playlist_name"></span></p>
				<div id="track_groups">
					
				</div>
				<div>
					<p>Add a track to this playlist</p>
					<form action="#" id="addtrackform">
						<fieldset>
							<p>
								Track to add:
								<select name="trackid">
								</select>
								<span id="addtrackerror"><br></span>
								<!-- input type="hidden" name="playlistid" th:value="${playlistid}"-->
							</p>
							<input type="button" value="Add track">
						</fieldset>
					</form>
				</div>
			</td>
			<td>
				<p>Track player</p>
				<div id="track_player">
					<p id="track_title" />
					<p id="track_genre" />
					<br>
					<p id="album_name" />
					<p id="album_artist"/>
					<p id="album_year"></p>
					<img id="album_image" /><br>
					
					<audio id="track_audioplayer" controls></audio>
					
				</div>
			</td>
		</tr>
	</table>

	

	<p>Upload your tracks here</p>
	<form action="#" id="uploadtrackform" enctype="multipart/form-data">
		<fieldset>
			<p>
				Title: <input type="text" name="trackTitle" required/>
				<span th:if="${trackForm.titleError} != null" class="error" th:text="${trackForm.titleError}"><br></span> 
			</p>
			<p> Genre: 
				<select name="genre" required>
					<!-- TODO should probably extract from DB instead -->
				    <option value="Pop">Pop</option>
					<option value="Rock">Rock</option>
					<option value="EDM">EDM</option>
			    </select>
			    <span th:if="${trackForm.genreError} != null" class="error" th:text="${trackForm.genreError}"><br></span> 
			</p>
			<div>
			    <input type="radio" id="1" name="album" value="1" required>
				<label for="1">From existing album</label>
				<br>
				<p class="indented"> Album:
					<select name="albumId" id="selectalbumid"></select>
					<span th:if="${trackForm.albumIdError} != null" class="error" th:text="${trackForm.albumIdError}"><br></span> 
				</p>
				<input type="radio" id="2" name="album" value="2">
				<label for="2">Insert new album</label>
				<br>
			
				<p class="indented">
					Name: <input type="text" name="albumName"/>
					<span th:if="${trackForm.albumNameError} != null" class="error"><br></span> 
				</p>
				<p class="indented">
					Artist: <input type="text" name="albumArtist"/>
					<span th:if="${trackForm.albumArtistError} != null" class="error"><br></span> 
				</p>
				<p class="indented">
				<!-- TODO year does not clear if invalid -->
				  	Year: <input type="number" name="albumYear" min="1800" max="#dates.year(#dates.createNow())"/>
				  	<span th:if="${trackForm.albumYearError} != null" class="error"><br></span> 
				</p>
				<p class="indented">
				  	Image: <input type="file" name="albumImage" accept="image/*"/>
				  	<span th:if="${trackForm.albumImageError} != null" class="error"><br></span> 
				</p>
				<span th:if="${trackForm.albumChoiceError} != null" class="error"><br></span>
			</div>
			<p>
				Audio file: <input type="file" name="audio" accept="audio/*" required/>
				<span th:if="${trackForm.audioError} != null" class="error"><br></span> 
			</p>
   			<br>
			<input type="button" name="submit">
			<input type="button" name="reset">
		</fieldset>
	</form>
	
	<div id="reorder_modal" class="modal">
	
		<div class="modal_content">
		    <span class="close">&times;</span>
		    <p>Reorder tracks of playlist: <span id="playlist_name"></span></p>
		    <table id="modal_table" class="boxed">
				<thead>
					<tr>
						<th>Track</th>
						<th>Album</th>
						<th>Artist</th>
					</tr>
				</thead>
				<tbody id="modal_tablebody"/>
			</table>
			<input id="reorderbutton" type="button" value="reorder">
		</div>
	
	</div>

</body>
</html>