<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Player</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body id="player">
	<img class="albumimagebackground" th:src="'data:image/*;base64,' + ${album.image}"/><br>
	<div align="right" class="logoutdiv">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1 align="center">Track player</h1>
	<div id="trackinfo">
	<table id="trackinfotable" class="container">
	<tr>
		<td>
			<h3 th:text="${'Title: ' + track.title}" >Title: Sample text</h3>
			<p th:text="${'Genre: ' + track.genre}" >Genre: None</p>
		</td>
		<td>
			<p th:text="${'Album: ' + album.name}" >Album: Mockup Album</p>
			<p th:text="${'Artist: ' + album.artist}" >Artist: John Doe</p>
			<p th:text="${'Year: ' + album.year}" >Year: 1970</p>
		</td>
	</tr>
		<!-- img th:src="'data:image/*;base64,' + ${album.image}" alt="Image not found. Placeholder text"/><br-->
		</table>
		<audio
          controls
          th:src="'data:audio/mp3;base64,' + ${track.audio}"></audio>
		
	</div>
</body>
</html>