<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Playlist</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1 align="center" th:text="'Playlist: ' + ${playlist.title}">Static playlist content</h1>

	<div align="center" th:switch="${tracks.size() &gt; 0}" th:with="max=${(tracks.size() - 1) / 5}">
		<div th:case="true" class = "row">
			<div th:each="i : ${#numbers.sequence(0, max)}" th:id="${i}">
				<table>
					<tbody>
						<tr>
							<td th:each="j : ${#numbers.sequence( 0, 5 > tracks.size() - 5 * i ? tracks.size() - 5 * i - 1 : 4)}">
								<span th:text="${tracks[5 * i + j].title}">Mockup song</span><br>
								<img th:src="'data:image/*;base64,' + ${tracks[5 * i + j].image}" width="192" height="240" alt="Image not found. Placeholder text"/><br>
								<a th:href="@{/GetTrackDetails(trackid=${tracks[5 * i + j].id})}">Play</a>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<a th:if="${i &gt; 0}" th:href="'#' + ${i - 1}"><button value="Previous" >Previous</button></a>
			    <a th:if="${i &lt; max}" th:href="'#' + ${i + 1}"><button value="Next" >Next</button></a>
			    <br><br>
			</div>
		</div>
		<p th:case="*" th:text="${'This playlist does not contain any tracks yet.'}"></p>
	</div>
	
	<div id="addform">
		<p>Add a track to this playlist</p>
		<form action="#" th:action="@{/AddTrackToPlaylist}" method="POST">
			<fieldset>
				<p>
					Track to add:
					<select name="trackid">
						<option th:each="t : ${userTracks}" th:value="${t.id}" th:text="${t.title}">More Mockup</option>
					</select>
					<span th:if="${errorMsg} != null" class="error" th:text="${errorMsg}"><br></span>
					<!-- input type="hidden" name="playlistid" th:value="${playlistid}"-->
				</p>
				<input type="submit" name="Add track">
			</fieldset>
		</form>
	</div>

</body>
</html>
