body {
	background: radial-gradient(#e66465, #9198e5);
}

table {
	margin: auto;
	width: 100%;
}

.modal_content > table {
	margin: auto;
	width: 30%;
}

.boxed {
	border: 1px solid black;
}

.component {
	padding: 10px;
	vertical-align:top;
}

#td_center {
	text-align: center;
}

#components {
	border-spacing: 10px;
	width: 100%;
	border:0;
}

.alertmessage{
	color: red;
}

div.row {
  height: 400px;
  overflow: hidden;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*sort*/
th.sortable, .up, .down {
	cursor: pointer;
}
 
.selected{
	color: red;
}

.notselected{
	color: black;
}

 body > .album_image {
	top: 0;
	left: 0;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

table:not(#components):not(#trackinfotable) {
	background: #FFFFE0;
	border: 1px solid black;
  	padding: 5px;
  	border-radius: 15px;
}

fieldset{
	border: 0;
}

#uploadtrackform > fieldset {
	width: 30%;
	margin: auto;
}

#trackFormError {
	white-space: pre-line;
	text-align: center;
}

#trackinfotable {
 	margin: auto;
 	width: 100%;
}

#trackinfotable td {
	vertical-align: top;
	width: 50%;
}

#track_player {
	text-align: center;
}

#td_right img, audio {
	border-radius:7px 7px 7px 7px ;
}

#td_left {
	width: 22%;
}

#td_right {
	width: 22%;
}
#td_right * {
	width: 100%;
}
